.marketplace-main-container {
  width: 100%;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.marketplace-content {
  display: flex;
  
}

.all-items-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

}

.marketplace-product-card {
  width: 250px;
  height: 300px;
  border: 1pt solid green;
  padding: 10px 10px;
  margin: 10px;
  
}

.marketplace-image-size{
  size: 120px;
  height: 120px;
}

