.marketplace-main-container {
  width: 100%;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
align-items: center;
}

.marketplace-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.marketplace-product-card {
  width: 200px;
  height: 200px;
  border: 1pt solid green;
  padding: 5px 5px;
}