.marketplace-main-container {
  width: 100%;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.marketplace-content {
  display: flex;
  
}

.all-items-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}

.marketplace-product-card {
  width: 200px;
  height: 250px;
  border: 1pt solid green;
  padding: 10px 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}


.marketplace-image-size{
  max-height: 100%;
  width: auto;
}

.image-box {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 120px;
  width: 120px;
}