.image-size {
  width: 300px;

}

.shownew-main-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shownew-content {
  width: 30%;
  height: 80%;
  border: 10pt solid rgb(68, 121, 49);
  padding: 30px 30px;
  background: white;
}

.button-image-upload {
  width: 40px;
}

.button-image-upload input{
  margin-top: 10px;
}

#custom-stripe-btn {
  margin-top: 10px;
  background: transparent;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: rgb(68, 121, 49);
  border: 1pt solid rgb(68, 121, 49);
  padding: 7px 7px;
  font-size: 13pt;
}