.image-size {
  width: 300px;

}

.shownew-main-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shownew-content {
  width: 30%;
  height: 80%;
  border: 10pt solid green;
  padding: 30px 30px;
  background: white;
}

.button-image-upload {
  width: 40px;
}

.button-image-upload input{
  margin-top: 10px;
}