<div class="about-main-container">

  <div class="about-content">

    <div class="about-title"><h1>What is it all about?</h1></div>
    
    <div class="about-box-1">
      <p>There are <b>2 paths</b> that products can take when you no longer need them: the landfill path or re-incarnation!<br>We care about making sure as many products as possible get to enjoy life as a new product.<br>Our platform is aimed at making it simple for anyone to make their recyclable items available for companies to source and put into production. We currently have 6 categories that you can select, and we are working on making new categories available soon.</p>

      <div class="category-images-box">
          <img class="about-image" src="https://s3-ap-southeast-2.amazonaws.com/i-recycle-app/glass.jpg" alt="glass_bottles_image">
          <img class="about-image" src="https://s3-ap-southeast-2.amazonaws.com/i-recycle-app/aluminium.jpg" alt="aluminium_cans_image">
          <img class="about-image" src="https://s3-ap-southeast-2.amazonaws.com/i-recycle-app/batteries.jpg" alt="batteries_image">
          <img class="about-image" src="https://s3-ap-southeast-2.amazonaws.com/i-recycle-app/pet.jpg" alt="pet_plastic_bottles_image">
          <img class="about-image" src="https://s3-ap-southeast-2.amazonaws.com/i-recycle-app/textile.jpg" alt="textiles_pile_image">
          <img class="about-image" src="https://s3-ap-southeast-2.amazonaws.com/i-recycle-app/cardboard.jpg" alt="carboard_boxes_image">
      </div>

      <div class="about-box-top">
        <div class="about-box-1-content"><h3>The Landfill Path</h3>
          <p>Designed to store waste, not break it down</p>
          <p>Bacteria in the waste produces methane gas which is highly flammable and a potent rgb(68, 121, 49)house gas</p>
          <p>In theory, the landfill system works well, but it isn't possible to 100% prevent the contamination of ground water and the collection of all methane gas</p>
          <p>Landfill capacity is not infinite and will eventually fill up</p>
          <p>It is estimated that as much as 20% of rubbish going into landfill could be recycled, reused, or composted</p><br>

          
        </div>

        


        <div class="about-box-1-content"><h3>The Path of Re-incarnation</h3>
          <p>Recycling conserves valuable resources such as water, coal, and oil</p>
          <p>Manufacturing new products from raw non-recycled materials uses a lot more energy for extraction, refining, processing, and transportation. As an example, aluminium saves 95% of that energy when made from recyclable aluminium rather than from raw material</p>
          <p>Plastic pollution is killing marine animals, 90% of all waste on the ocean's surface are plastic waste. Every year over 1 million sea birds and over 100,000 marine animals are killed by plastic pollution</p>
          <p>Why throw something away when it can still serve a purpose?</p>
        </div>

      </div>

      <div class="about-box-bottom">
        <div class="about-box-bottom-left">
        <h3>How to use this app<br>to <u>make a difference</u></h3>
        </div>

        <div class="about-box-bottom-right">
          <div class="about-right-top">
          <p>Sign up as an <b>individual</b> and post items that you have available within the recyclable categories</p>
          <p>Once you have signed up, click on < New Post >, from there you will be able to select the category, upload an image, assign the quantity (in kg) and let potential businesses know where the product is located.</p>
          <p>Your dashboard will show you all your current posted items, allow you to update your details, or cancel your account</p>
          </div>
          <div class="about-right-bottom">
          <p>Sign up as a <b>business</b> if you are looking to source materials to use in your manufacturing</p>
          <p>Check out the < Marketplace > (click the link in the navigation bar) and you will be able to see all available items. You can filter by category, or by location. Click < details > to get more information about the product and to request the product and pay the postage </p>
          <p>Your dashboard will show you all your past orders, allow you to update your details, or cancel your account</p>
          
          </div>

        </div>



      </div>


    </div>

  </div>

</div>