
      
<div class="welcome-main-container">

  <div class="welcome-logo-container">
    <div class="welcome-logo">
      <h1> irecycle</h1>
    </div>
  </div>

  <div class="welcome-bottom-container">
    <div class="welcome-product-sample">
    </div>
    <div class="welcome-product-sample">
    </div>
    <div class="welcome-product-sample">
    </div>
    <div class="welcome-product-sample">
    </div>
    <div class="welcome-product-sample">
    </div>
  </div>
  <div class="welcome-footer">
    <div class="see-more-link"><p>see more ></p></div>
  </div>

</div>
<%= yield %>
  </body>
</html>