<p><%= link_to 'Log In as people', new_user_session_path %></p>

if you have things to recycle, sign up as a user and post your items

<p><%= link_to 'Log In as business', new_business_session_path %></p>

if you need to source recycled materials, sign up as a business user and browse available items