
<div class="login-main-container">
  <div class="login-left-container">
  <p><%= link_to 'Individual', new_user_session_path %></p>
  </div>
  <div class="login-mid-container">
    <div class="login-graphic">
    <p>Log in</p>
    </div>
  </div>
  <div class="login-right-container">
  <p><%= link_to 'Business', new_business_session_path %></p>
  </div>
</div>