<div class="marketplace-main-container">

  <div class="marketplace-content">

    <h1>Marketplace</h1>
  </div>
    <div class="all-items-container">

    

      <% @products.each_with_index do |product, index| %>
        <div class="marketplace-product-card">   
        <%= image_tag product.uploaded_image, class: 'marketplace-image-size' %>           
        <p><%= product.category %></p>
        <p>location:<%= product.location %></p>

        <%= link_to "show details", product_path(product.id) %>  
        </div>              
      <% end %>
    </div>
    
  

</div>
